.footer {
  background-color: #f1f4f8;
}

.footer__logo-img {
  width: 100px;
  height: 40px;
}

.footer__desc {
  font-family: sans-serif;
  font-size: 19px;
  color: #506690;
}

.footer__text {
  font-family: sans-serif;
  font-size: 12px;
  color: #506690;
}

.links__link {
  font-family: sans-serif;
  font-size: 17px;
  color: #869ab8;
  text-decoration: none;
}

.links__link:hover {
  color: #869ab8;
  text-decoration: underline;
}

.footer__icon-img {
  width: 20px;
  height: 20px;
}


@media only screen and (max-width:426px) {
  .footer__inner {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .footer__box {
    max-width: 280px;
    width: 100%;
    margin-bottom: 32px;
  }

  .footer__boxs {
    max-width: 140px;
    width: 100%;
    margin-bottom: 32px;
  }
}