.header__links {
  color: #506690;
  font-family: sans-serif;
  font-size: 19px;
}

.header__links:hover {
  color: #335eea;
}

.header__links:active {
  opacity: 0.4;
}

.header__link {
  display: inline-block;
  background-color: #335eea;
  font-family: sans-serif;
  font-weight: 600;
  color: #ffffff;
}

.header__link:hover {
  transform: translateY(-2px);
  background-color: #1046f9;
  box-shadow: 0px 13px 50px rgba(69, 69, 69, 0.504);
  color: #ffffff;
}

.header__link:active {
  opacity: 0.4;
}

.header__menu {
  text-align: end;
  display: none;
  width: 100px;
}

.header__menu-img {
  width: 28px;
  height: 28px;
  margin-top: 7px;
}


@media only screen and (max-width:426px) {
  .header__box {
    display: none;
  }

  .header__link {
    display: none;
  }

  .header__menu {
    display: inline-block;
  }

  .header__inner {
    justify-content: space-between;
  }
}